.idea/
.ncbirc
Figure_2.svg
Figure_2OTU.svg
Figure_2afterMED.svg
Figure_3_raw_090718.svg
SP_output_for_figures/
Supp_1.svg
blastIn.fasta
edData/
fig3_ITS2_type_profile_A.svg
fig3_ITS2_type_profile_C.svg
fig3_ITS2_type_profile_D.svg
fig3_ITS2_type_profile_final.svg
fig3_MED_post_qc_A.svg
fig3_MED_post_qc_C.svg
fig3_MED_post_qc_D.svg
fig3_raw.svg
fig3_raw_A.svg
fig3_raw_C.svg
fig3_raw_D.svg
fig_3_colour.svg
fig_3_colour_090718.svg
fig_3_raw_100718.svg
figureCode.py
making_example_data_set/
mothur.1511873616.logfile
mothur.1511873945.logfile
mothur.1511873975.logfile
mothur.1531201275.logfile
mothur.1531202017.logfile
mothur.1531202212.logfile
mothur.1531202555.logfile
ordination.svg
ordination_110718.svg
plotting_info_holder_list
readme
sample_order.txt
seq_to_rep_dict_path
significantSeqs
sorted_rep_seq_list
